# Build outputs
build/
iso/

# QEMU artifacts
*.log
disk.img

# Tracking
.CL_B_F_N_T
.CL_B_F_N_TOM
.CL_B_F_N_TOME

# Compiler generated
*.o
*.d
*.elf
*.bin
*.iso

# Editor
.vscode/
.idea/
*.swp
*.swo
*~